In [ ]:
# komentarz

# if

wielkosc = 5

print(wielkosc)

5

In [ ]:
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [ ]:
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [ ]:
studenci[0]

'Ania'

In [ ]:
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek

In [ ]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [ ]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [ ]:
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy

In [ ]:
n = 1

while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [ ]:
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2)
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

In [ ]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [ ]:
studenci[0]
studenci[1:]
studenci[:-1]

['Ania', 'Zosia', 'Kasia']

# Challange 1.1
1. Wyprintuj zajęcia od środy do piątku

In [13]:
zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

In [14]:
razem = zip(zajecia, dnityg) # zip laczy razem 
for nr_dnia, (zaj, dt) in enumerate(razem):
    if nr_dnia >= 2:
      print(zaj, dt)

relax Sro
mispy Czwar
piateczek Pio

# Challenge 1.2
2. Wyprintuj oprócz środy

In [15]:
zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

In [16]:
razem = zip(zajecia, dnityg)
for zaj, dt in razem:
  if dt != "Sro":
    print(zaj, dt)

wf Pon
informatyka Wto
mispy Czwar
piateczek Pio

# Challange 2
Posortuj dni po najbardziej zajętych

In [17]:
#### challenge 0.2

zajecia = [["wf"],["informatyka", "nauka czytania"],["relax", "jedzenie"],["mispy","mispy w domu","cos-co-nie-jest-wiadomo-czym-na-test"],["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]]
dnityg = ["Pon","Wto","Sro","Czwar","Pio"]

# zdefiniuj funkcje ktora poda ile jest zajec danego dnia
# lista_zajec_z_dnia -> ile ich jest

do_sortowania = [] # nowa lista do kolejnego zadania

def lista_zajec_z_dnia():
  a = 0 # iterator
  for i in zajecia: # nie wykorzystujemy tego i, ale sama petla for jest potrzebna
    print("W {} jest {} zajec.".format(dnityg[a],len(zajecia[a]))) # albo zajecia2[:]
    do_sortowania.append([dnityg[a],len(zajecia[a])]) # do zadania nizej, by sortowac, append dodaje na koncu listy
    #print(do_sortowania) #print for debug
    a += 1 

lista_zajec_z_dnia()
print("-" * 20)

# ewentualnie mozna to zrobic przez len(), ten challange wyżej

# posortuj dni po najbardziej zajetych

# skorzystam z lambdy -> lambda arguments : expressions
# x = lambda a : a + 10
# print(x(5)) # wydrukuje 5

posortowana_lista = sorted(do_sortowania, key = lambda x : x[1], reverse = True)
print(posortowana_lista) #mozna to ew. ladniej sformatowac, ale ogolnie dziala
print("-" * 20)

W Pon jest 1 zajec.
W Wto jest 2 zajec.
W Sro jest 2 zajec.
W Czwar jest 3 zajec.
W Pio jest 4 zajec.
--------------------
[['Pio', 4], ['Czwar', 3], ['Wto', 2], ['Sro', 2], ['Pon', 1]]
--------------------

# Challange 3
Napisz program ktory znajdzie dzien z najwieksza iloscia mispow.

**Aby kod zadziałał, należy uruchomić najpierw challange 2**

In [18]:
#### challenge 0.3

# napisz program ktory zdajdzie dzien z najwieksza iloscia mispow

polaczone = zip(dnityg,zajecia)
lista_do_max = [] 
a=0 #iterator

for liczba_z_enumerate, (dzientyg, zajeciatyg) in enumerate(polaczone):
  for x in zajeciatyg:
    if "misp" in x: #jezeli jest "misp" w zajeciatyg
      a += 1 #dodaj do licznika +1
  lista_do_max.append(a) #dodaj do konca listy ilosc naliczonych mispow
  a = 0 #reset licznika mispow
  print(lista_do_max)
  print("W dzien {} | nr listy {} | sa przedmioty {}".format(dzientyg,liczba_z_enumerate,zajeciatyg))
gotowe = zip(dnityg,lista_do_max) #zlacz razem dni oraz liczbe zliczonych mispow
sortedch3 = sorted(gotowe, key = lambda x : x[1], reverse = True) # sortuj po liczbie zliczonych mispow // ewentualnie to sortowanie mozna dac jako funkcja, bo sie powtarza
print(sortedch3) #mozna to ew. ladniej sformatowac, ale ogolnie dziala
print(sortedch3[0]) #pokaz 1szy element z listy, tj najwieksza ilosc mispow

[0]
W dzien Pon | nr listy 0 | sa przedmioty ['wf']
[0, 0]
W dzien Wto | nr listy 1 | sa przedmioty ['informatyka', 'nauka czytania']
[0, 0, 0]
W dzien Sro | nr listy 2 | sa przedmioty ['relax', 'jedzenie']
[0, 0, 0, 2]
W dzien Czwar | nr listy 3 | sa przedmioty ['mispy', 'mispy w domu', 'cos-co-nie-jest-wiadomo-czym-na-test']
[0, 0, 0, 2, 3]
W dzien Pio | nr listy 4 | sa przedmioty ['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu']
[('Pio', 3), ('Czwar', 2), ('Pon', 0), ('Wto', 0), ('Sro', 0)]
('Pio', 3)

In [ ]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy= [("22","dwadziescia dwa"),("11","jedenascie"),("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)

sorted(liczby, key=int)

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key=czy_jest_jeden)
         
sorted(liczby_i_nazwy,key=na_liczbe)

sorted(liczby_kolejnosc,key=na_liczbe_index)

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]